{% if currentUser.can('deepl:translate-entries') %}
<fieldset>
    <legend class="h6">{{ "Deepl" }}</legend>
    <div class="meta">
        {% set siteParam = craft.app.request.getParam('site') %}
        {% set selectedSite = craft.app.sites.getSiteByHandle(siteParam) %}

        {% set otherSites = entry.section.siteSettings|filter(v => v.siteId != selectedSite.id) %}
        {% if selectedSite.primary and not settings.primarySiteTranslation %}
            <div class="field">
                <div class="input ltr">
                    {{ "Entries in the primary site are not allowed to be translated. Contact support for further questions."|t('deepl') }}
                </div>
            </div>
        {% else %}
            <div class="field">
                {{ "Translate this page with content from:"|t("deepl") }}
            </div>
            {% for site in otherSites %}
                {% set site = craft.app.sites.getSiteById(site.siteId) %}
                <div class="field">
                    <div class="btngroup flex">
                        <div>
                            <a href="{{ actionUrl('deepl/translation/index', {'entry': entry.id, 'sourceLocale': site.id, 'destinationLocale': selectedSite.id}) }}"
                               class="btn ">
                                {{ "From {locale}"|t('deepl', { locale: site.locale.getDisplayName(currentUser.preferences.language) }) }}                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</fieldset>
{% endif %}